.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .Loading {
    animation: loading-icon-spin infinite 3s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Emoji {
  font-size: 30vh;
  position: absolute;
  top: 10vh;
}

.Input {
  position: absolute;
  top: 70vh;
}

.Loading {
  height: 30vh;
  pointer-events: none;
  position: absolute;
  top: 15vh;
}

@keyframes loading-icon-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
